[class*=col] {
    float: left;
}
.row::after{
    content: "";
    clear: both;
    display: block;
}
.col-1 {
    width: 5.555%
}
.col-2 {
    width: 11.111%
}
.col-3 {
    width: 16.666%
}
.col-4 {
    width: 22.222%
}
.col-5 {
    width: 27.777%
}
.col-6 {
    width: 33.333%
}
.col-7 {
    width: 38.888%
}
.col-8 {
    width: 44.444%
}
.col-9 {
    width: 50%
}
.col-10 {
    width: 55.555%
}
.col-11 {
    width: 61.111%
}
.col-12 {
    width: 66.666%
}
.col-13 {
    width: 72.222%
}
.col-14 {
    width: 77.777%
}
.col-15 {
    width: 83.333%
}
.col-16 {
    width: 88.888%
}
.col-17 {
    width: 94.444%
}
.col-18 {
    width: 100%
}